body {
  transition: all .3s ease-in ease-out;
}/*
header > .thenav > .mav > h1,
header > .thenav > .nav-cont > nav > ul > li > a{
  color: #f1f1f1;
}
header > .thenav > .nav-cont > nav > .linkcont > ul > li > a {
  color: #ffffff;
}
header > .thenav > .nav-cont > nav > .linkcont > ul > li > a.active,
header > .thenav > .nav-cont > nav > .linkcont > ul > li > a:hover {
  color: #ffffff;
  border-bottom: 2px solid #f1f1f1;
}
header > .thenav > .nav-cont > nav > .shownav,
header > .thenav > .nav-cont > nav > .hidenav {
  filter: invert();
}*/
section {
  background-image: url(../IMAGES/mav1.jpg);
}/*
section > .container {
  background-color: rgba(0, 3, 19, 0.8);
}*/
section > .container > .searchbar-container {
  height: 15%; /*87px;*/
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 80px;
  position: relative;
}
section > .container > .searchbar-container > .allbars-search {
  /*height: 100px;*/
  width: 30%;
  transition: .2s all ease;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 0 auto;
  position: relative;
}
section > .container > .searchbar-container > .allbars-search:hover{
  width: 35%;
}
section > .container > .searchbar-container > .allbars-search > input[type="text"] {
  height: 30px;
  width: 91%;
  border: none;
  border-bottom: 1px solid silver;
  padding-left: 10px;
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}
section > .container > .searchbar-container > .allbars-search > input[type="submit"] {
  height: 15px; /*30px;*/
  width: 9%;
  border: none;
  position: relative;
  color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../IMAGES/search.png);
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  filter: invert(100);
}
section > .container > main {
  position: absolute;
  height: 85%;/*400px;*/
  width: 100%;
}
section > .container > main > .main-container {
  height: 100%; /*390px;*/
  width: 70%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  padding: 10px 0;
  border-top: 1.5px solid #acacac;/*
  overflow: hidden;
  background-color: red;*/
}
section > .container > main > .main-container > .container4main {
  display: none;
}
section > .container > main > .main-container > .music-container {
  height: 99%;/*390px;*/
  width: 60%;
  padding: 10px 20px;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: .2s ease;
  position: relative;/*
  background-color: purple;*/
}
section > .container > main > .main-container > .music-container::-webkit-scrollbar {
  width: 2px;
  background-color: #acacac;
  display: none;
}/*
section > .container > main > .main-container > .music-container::-webkit-scrollbar-track {
  width: 5px;
  height: 10px;
  background-color: blue;
}*/
section > .container > main > .main-container > .music-container > .tracks-container {
  height: 55px;
  width: 98%;
  padding: 3px 40px;
  display: flex;
  position: relative;/*
  background-color: green;*/
}
section > .container > main > .main-container > .music-container > .tracks-container > .cycle-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;/*
  background-color: maroon;*/
}
section > .container > main > .main-container > .music-container > .tracks-container > .cycle-spin {
  animation-name: slide;
  animation-duration: 30s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  transform: rotate(0deg);
}
@keyframes slide {
  100% {
    transform: rotate(360deg);
  }
}
section > .container > main > .main-container > .music-container > .tracks-container > .cycle-image > img {
  height: 40px;
  width: 40px;
  position: relative;
  object-fit: contain;
}
section > .container > main > .main-container > .music-container > .tracks-container > .music-title-container {
  height: 45px;
  width: 60%;
  padding: 0 7px;
  display: flex;
  flex-direction: row;
  position: relative;/*
  background-color: maroon;*/
}
section > .container > main > .main-container > .music-container > .tracks-container > .music-title-container > .default-info {
  height: 45px;
  width: 19%;
  display: block;
  position: relative;/*
  background-color: skyblue;*/
}
section > .container > main > .main-container > .music-container > .tracks-container > .music-title-container > .default-info > p,
section > .container > main > .main-container > .music-container > .tracks-container > .music-title-container > .song-info > p {
  color: #fff;
  font-weight: lighter;
  font-size: 13.5px;
  width: 100%;
}
section > .container > main > .main-container > .music-container > .tracks-container > .music-title-container > .song-info {
  height: 45px;
  width: 80%;
  position: relative;/*
  background-color: orange;*/
}
section > .container > main > .main-container > .music-container > .tracks-container > .controllers {
  height: 40px;
  width: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;/*
  background-color: brown;*/
}
section > .container > main > .main-container > .music-container > .tracks-container > .controllers > .play,
section > .container > main > .main-container > .music-container > .tracks-container > .controllers > .pause {
  height: 25px;
  width: 25px;
  position: relative;/*
  background-color: pink;*/
}
section > .container > main > .main-container > .music-container > .tracks-container > .controllers > .play > img,
section > .container > main > .main-container > .music-container > .tracks-container > .controllers > .pause > img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
section > .container > main > .main-container > .music-container > .tracks-container > .controllers > .play > img:hover,
section > .container > main > .main-container > .music-container > .tracks-container > .controllers > .pause > img:hover {
  height: 27px;
  width: 27px;
}
section > .container > main > .main-container > .music-container > #horilines {
  width: 75%;
  display: block;
  margin: 0 auto 0 auto;
}
section > .container > main > .main-container > .music-container > #last-horiline {
  width: 75%;
  display: none;
  margin: 0 auto 0 auto;
}
section > .container > main > .main-container > .lyrics-container {
  height: 99%; /*380px;*/
  width: 35%;
  transition: .2s ease;
  position: relative;
}
section > .container > main > .main-container > .lyrics-container > .default-nowplaying {
  height: 100%; /*380px;*/
  width: 100%;
  overflow-y: scroll;
  padding: 20px 30px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
section > .container > main > .main-container > .lyrics-container > .default-nowplaying::-webkit-scrollbar,
section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying::-webkit-scrollbar {
  width: 2px;
  cursor: pointer;
}
section > .container > main > .main-container > .lyrics-container > .default-nowplaying::-webkit-scrollbar:hover,
section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying::-webkit-scrollbar:hover {
  width: 5px;
}
section > .container > main > .main-container > .lyrics-container > .default-nowplaying::-webkit-scrollbar-track{
  background-color: #acac00;
}
section > .container > main > .main-container > .lyrics-container > .default-nowplaying::-webkit-scrollbar-thumb,
section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying::-webkit-scrollbar-thumb {
  background-color: #fff;
}
section > .container > main > .main-container > .lyrics-container > .default-nowplaying > .null,
section > .container > main > .main-container > .lyrics-container > .default-nowplaying > .lyrics/*
section > .container > main > .main-container > .lyrics-container > .default-nowplaying > .song-jireh,
section > .container > main > .main-container > .lyrics-container > .default-nowplaying > .song-bre */{
  display: flex;
  width: 98%;
  height: 100%; /*380px;*/
  position: relative;
  flex-direction: column;
}
section > .container > main > .main-container > .lyrics-container > .default-nowplaying > .null > .text-con,
section > .container > main > .main-container > .lyrics-container > .default-nowplaying > .lyrics > .text-con,
section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying > .null > .text-con,
section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying > .lyrics > .text-con {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: auto 0 auto 0;
}
section > .container > main > .main-container > .lyrics-container > .default-nowplaying > .null > .text-con > span,
section > .container > main > .main-container > .lyrics-container > .default-nowplaying > .lyrics > .text-con > span,
section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying > .null > .text-con > span,
section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying > .lyrics > .text-con > span {
  color: #fff;
  text-align: center;/*
  font-style: italic;*/
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}/*
footer {
  background-color: rgb(0, 15, 32);
}
footer > p {
  color: #fff;
  text-align: center;
}*/
footer > p > span {
  color: #5e0761;
  font-family: serif;
  font-weight: 700;
}

@media only screen and (max-width: 1353px) {
  section > .container > main > .main-container {
    width: 90%;
  }
}
@media only screen and (max-width: 1050px) {
  section > .container > main > .main-container {
    width: 95%;
  }
}
@media only screen and (max-width: 986px) {
  section > .container > main > .main-container {
    width: 96%;
  }
}
@media only screen and (max-width: 480px) {
  section > .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  section > .container > main {
    position: relative;
    height: 91%;
    width: 100%;
  }
  section > .container > main > .main-container {
    height: 100%;
    width: 100%;
    border-top: none;
  }
  section > .container > .searchbar-container {
    height: 50px;
    width: 100%;
    padding-left: 0px;
  }
  section > .container > .searchbar-container > .allbars-search {
    width: 60%;
  }
  section > .container > .searchbar-container > .allbars-search:hover{
    width: 70%;
  }
  section > .container > .searchbar-container > .allbars-search > input[type="text"],
  section > .container > .searchbar-container > .allbars-search > input[type="submit"] {
    margin: 0 5px;
  }
  section > .container > main > .main-container > .music-container,
  section > .container > main > .main-container > .lyrics-container {
    display: none;
  }
  section > .container > main > .main-container > .container4main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  section > .container > main > .main-container > .container4main > .lyrics-container {
    height: 70%;
    width: 100%;
    border-bottom: 1px solid #FFF;
  }
  section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying {
    height: 97.4%;
    width: 100%;
    overflow-y: scroll;
    padding: 10px 30px;
    position: relative;
  }
  section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying > .null/*,
  section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying > .lyrics */{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
  }
  section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying > .lyrics {
    display: flex;
    width: 100%;/*
    height: 100%;*/
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
  }
  section > .container > main > .main-container > .container4main > .lyrics-container > .default-nowplaying::-webkit-scrollbar-track {
    background-color: none;
  }
  section > .container > main > .main-container > .container4main > .music-container {
    /*height: 160px;*/
    width: 100%;
    padding: 5px 5px;
    position: relative;
  }
  section > .container > main > .main-container > .container4main > .music-container > .control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: -80px;
  }
  section > .container > main > .main-container > .container4main > .music-container > .control > .previous,
  section > .container > main > .main-container > .container4main > .music-container > .control > .next {
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  section > .container > main > .main-container > .container4main > .music-container > .control > .previous > img,
  section > .container > main > .main-container > .container4main > .music-container > .control > .next > img {
    height: 30px;
    filter: invert(60%);
    object-fit: contain;
    padding: 4px;
    cursor: pointer;
    border: 1.5px;
    border-radius: 50%;
    border-color: silver;
    border-style: solid;
    position: relative;
  }
  section > .container > main > .main-container > .container4main > .music-container > .control > .previous > img:hover,
  section > .container > main > .main-container > .container4main > .music-container > .control > .next > img:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow {
    /*height: 145px;*/
    width: 100%;
    position: relative;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container {
    height: 160px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container {
    height: 170px;/*
    width: 340px;
    width: 280px; selected*/
    display: flex;
    margin: 0 auto 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;/*
    background-color: grey;*/
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider {
    display: none;
    width: 290px;
    height: 170px;
    position: relative;/*
    background: blue;*/
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .sidelink {
    height: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;/*
    background-color: pink;*/
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .sidelink > .love-img > #redlove{
    display: none;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .sidelink > .love-img > #greylove{
    height: 19px;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .sidelink > .love-img > img,
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .sidelink > .listtracks > img {
    height: 24px;
    cursor: pointer;
    position: relative;
    object-fit: contain;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .sidelink > .love-img > #greylove,
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .sidelink > .listtracks > img {
    filter: invert();
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .songs {
    width: 100%;
    padding: 0 0 6px 0;
    position: relative;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .songs > .song-info {
    color: #fff;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    width: 100%;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;/*
    background-color: yellow;*/
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .plpa {
    /*height: 60px;*/
    width: 100px;
    display: block;
    z-index: 3;
    transition: all .2s ease;
    position: relative;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .plpa > .play,
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .plpa > .pause {
    width: 100%;
    transition: all .2s ease;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }/*
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .plpa > .pause > img {
    display: block;
  }*/
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .plpa > .play > img,
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .plpa > .pause > img {
    /*height: 80px;*/
    width: 80px;
    filter: invert(40%);
    object-fit: contain;
    transition: all .2s ease;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .plpa > .play > img:hover,
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .plpa > .pause > img:hover {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .previous,
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .next {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .previous > img,
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .next > img {
    height: 30px;
    filter: invert(60%);
    object-fit: contain;
    padding: 4px;
    cursor: pointer;
    border: 1.5px;
    border-radius: 50%;
    border-color: silver;
    border-style: solid;
    position: relative;
  }
  section > .container > main > .main-container > .container4main > .music-container > .overflow > .slider-container > .inner-container > .Slider > .controllers > .cycle-spin {
    animation-name: spin;
    animation-duration: 30s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
    transform: rotate(0deg);
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
